
@{ Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Word</title>
</head>
<body>
    <div>
        <h1>Deneme</h1>
        <h2>@Model</h2>
    </div>
</body>
</html>
